/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-light.ant-menu-horizontal >.ant-menu-item, :where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item, :where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu, :where(.css-dev-only-do-not-override-1gwfwyx).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu {

  padding: .5rem;
  border-radius: 30px;
  margin: .5rem;
}

.sider-custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.sider-custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.sider-custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

.sider-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.horizontal-scrollbar::-webkit-scrollbar {
  height: 7px; 
}

.horizontal-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.horizontal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:where(.css-dev-only-do-not-override-1gwfwyx).ant-table-wrapper .ant-table-pagination.ant-pagination {
  display: none;
}